<div class="container mt-5">
  <h2 class="text-center mb-4">List of Departments</h2>
  <a routerLink="/add-department" class="btn btn-primary mb-2">Add Department</a>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Department Id</th>
        <th>Department Name</th>
        <th>Department Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (department of departments; track department.id) {
        <tr>
          <td>{{ department.id }}</td>
          <td>{{ department.departmentName }}</td>
          <td>{{ department.departmentDescription }}</td>
          <td>
            <button class="btn btn-info" (click)="updateDepartment(department.id!)">Update</button>
            <button class="btn btn-danger" style="margin-left: 10px;" (click)="removeDepartment(department.id!)">Delete</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
